<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation-menu.ejs') %>
    <main>
    <% if(alert){%>
        <%- include("includes/alerts.ejs")%>
        <%}%>
    <div class="container my-5">
        <form action="/shopping/add-product" method="post">
            <div class="row">
                <div class="col-md-5">
                        <label class="form-label">
                            Category
                        </label>
                        <p>
                            <select class="form-control" name="categoryId">
                                <option value="">--Select--</option>
                                <% for(let category of categories) {%>
                                    <option value="<%= category._id %>"><%= category.title %></option>
                                <% } %>
                            </select>
                        </p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-5">

                    <label class="form-label">
                        Name
                    </label>
                    <p>
                        <input type="text" class="form-control" name="name">
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">

                    <label class="form-label">
                        Price
                    </label>
                    <p>
                        <input type="text" class="form-control" name="price">
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <%if(categories.length>0) {%>
                    <p>
                        <button class="btn btn-primary">Add</button>
                    </p>
                <%}else{%>
                    <button type="button" class="btn btn-primary position-relative disabled px-5">
                        Add
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          No Category Added
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </button>
                      <a href="/shopping/add-category" class="btn btn-primary ms-5">Add category</a>
                <% }%>
            </div>
        </div>
    </form>
    </div>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>