<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation-menu.ejs') %>
    <main>
    <% if(alert){%>
    <%- include("includes/alerts.ejs")%>
    <%}%>
    <div class="container my-5">

        <form action="/shopping/delete-product" method="post">
        <div class="row">
            <div class="col-md-5">
                    <label  class="form-label">
                        Product Name
                    </label>
                    <select class="form-control" name="deletingProductID">
                        <option>--Select--</option>
                        <% for(let product of products) {%>
                            <option value="<%= product._id %>"><%= product.title %></option>
                        <% } %>
                    </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 mt-3">
                    <p>
                        <%if(products.length>0){%>
                            <button class="btn btn-primary">Delete</button>
                        <%}else{%>
                            <button class="btn btn-primary disabled">Delete</button>
                        <%}%>
                    </p>
            </div>
        </div>
    </form>
    </div>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>